* {
    background-color: #999;
}

h1 {
    text-align: center;
}
    p {
    font-family: nothing-you-could-do;
    text-align: center;
}
    h3 {
        font-family:almendra;
        text-align: center;
    }